* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #040305;
    overflow: hidden;
}

.tabs input {
    visibility: hidden;
    display: none;
}

.botoes {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1;
}

.botoes label {
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: .5;
    border-radius: 16px;
    cursor: pointer;
    transition: .5s;
}

.tabs input:nth-of-type(1):checked ~.botoes label:nth-of-type(1),
.tabs input:nth-of-type(2):checked ~.botoes label:nth-of-type(2),
.tabs input:nth-of-type(3):checked ~.botoes label:nth-of-type(3) {
    opacity: 1;
    width: 50px;
}

.conteudo{
    position: relative;
    width: 300vw;
    display: flex;
    transition: .5s;
}

.conteudo .caixa{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 40px;
}

.conteudo .caixa:nth-of-type(1){
    background: linear-gradient(50deg,#43cea2,#185a9d);
}

.conteudo .caixa:nth-of-type(2){
    background: linear-gradient(50deg,#ff4e50,#f9d423);
}

.conteudo .caixa:nth-of-type(3){
    background: linear-gradient(50deg,#ce43ab,#185a9d);
}

.tabs input:nth-of-type(1):checked ~ .conteudo{
    left: 0;
}

.tabs input:nth-of-type(2):checked ~ .conteudo{
    left: -100vw;
}

.tabs input:nth-of-type(3):checked ~ .conteudo{
    left: -200vw;
}